footer {
  @include flex-box;
  position: sticky;
  bottom: 0rem;
  padding-bottom: 0.5rem;
  margin: 2rem auto;
  background-color: white;
}
.footer {
  @include flex-column;

  a {
    font-size: 1.2rem;
  }
  .beating {
    animation: beatingHeart 2s infinite;
    &:hover {
      animation: hardBeat 2s infinite;
    }
  }
}
