footer {
  @include flex-box;
  position: sticky;
  bottom: 0.5rem;
  width: 100vw;
  margin: 3rem auto 2rem auto;
}
.footer {
  @include flex-box;
  flex-direction: column;

  a {
    font-size: 1.2rem;
  }
  .beating {
    animation: beatingHeart 2s infinite;
    &:hover {
      // color: lightcoral;

      animation: hardBeat 2s infinite;
    }
  }
}
