header {
  @include flex-box;
  height: 15vw;
  background: $sg3;
}
nav {
  width: 60vw;
  padding: 2rem;
  @include flex-box;
  justify-content: space-evenly;
  text-decoration: none;
  background: $sg2;
  ul {
    text-decoration: none;
    li {
      list-style: none;
      text-decoration: none;
    }
  }
}
