h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.4rem;
  margin: 1rem;
}
h5 {
  font-size: 0.9rem;
}
h6 {
  font-size: 0.6rem;
  opacity: 50%;
}
.main {
  // width: 50vw;
}
.about {
  @include flex-box;
  flex-direction: column;
  width: 50vw;
}

.imprint {
  @include flex-box;
  flex-direction: column;
  .row {
    @include flex-box;
    flex-direction: row;
  }
  span {
    font-size: 1.6rem;
  }
}

.cookie {
  animation: cookie 4s infinite;
}
