h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.4rem;
  margin: 1rem;
}
h5 {
  font-size: 0.9rem;
}
h6 {
  font-size: 0.6rem;
  opacity: 50%;
}
.main {
  // width: 50vw;
}
.about {
  @include flex-box;
  flex-direction: column;
  width: 50vw;
}
.skills {
  @include flex-box;
  flex-direction: column;
  p {
    @include flex-box;
    flex-direction: row;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    .tooltip {
      border: lightcoral dotted 2px;
      position: relative;
      display: inline-block;
    }
    .tooltip .tTtext {
      visibility: hidden;
      width: 120px;
      background-color: black;
      color: lightcoral;
      text-align: center;
      padding: 5px 0;
      border-radius: 6px;
      position: absolute;
      z-index: 1;
    }
    .tooltip:hover .tTtext {
      visibility: visible;
    }
  }
}

.imprint {
  @include flex-box;
  flex-direction: column;
  .row {
    @include flex-box;
    flex-direction: row;
  }
  span {
    font-size: 1.6rem;
    animation: cookie 4s infinite;
  }
}
