// @mixin name {

// }

@mixin flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@mixin flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin Heart {
  animation: beatingHeart;
}
@keyframes beatingHeart {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(0.8);
  }
}
@mixin HardBeat {
  animation: hardBeat;
}
@keyframes hardBeat {
  0% {
    transform: scale(0.8);
    color: black;
  }
  25% {
    transform: scale(2);
    color: lightcoral;
  }
  50% {
    transform: scale(0.8);
    color: black;
  }
  75% {
    transform: scale(2);
    color: lightcoral;
  }
  100% {
    transform: scale(0.8);
    color: black;
  }
}

@mixin Cookie {
  animation: cookie;
}
@keyframes cookie {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
